@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    box-sizing: border-box;
    font-family: Raleway;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html {
    background-color: rgba(0, 0, 0, 0.1);
}

html, body {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
}

.navbar {
    text-align: center;
    font-size: 5.5em;
    font-weight: lighter;
}

.item a{
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: teal;
}

.item{
    display: inline;
    padding: 0 2%;
    margin: 20px;
    border-radius: 5em;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
